# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Environment & Secrets
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Build / Cache
# ===============================
dist/
build/
.cache/

# ===============================
# Executables
# ===============================
*.exe

# ===============================
# Media & Documents
# ===============================
*.mp4
*.docx